<!-- ##login## -->

<%= form_tag login_path do %>
	<%= label_tag :username, "Username" %>
	<%= text_field_tag :username %>
	<%= label_tag :password, "Password" %>
	<%= text_field_tag :password %>
	<%= submit_tag %>

	<% end %>


<h5>If you are not a user, follow the link to sign up</h5>
<%= link_to(:sign_up, "/sign_up", :type=>:submit) %>


